{% load static from staticfiles %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Blog</title>

  <link rel="stylesheet" href="{% static "foundation-4.1.2/css/foundation.min.css" %}">

  <script src="{% static "js/jquery-2.0.0.min.js" %}"></script>
  <script src="{% static "foundation-4.1.2/js/foundation.min.js" %}"></script>
  <script src="{% static "js/clock.js" %}"></script>

<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic);
.row.full-width {
  max-width: 100%;
}
h2 {font-family: 'Poiret One';}

  </style>
</head>
<body>
<div class='row'>
    <div class='large-4 columns'>
        <h2>Ваше местоположение</h2>
        {{ city.city }}
    </div>
    <div class='large-4 columns'>
        <h2>Режим дня</h2>
        <canvas id="canvas" width="200" height="200"></canvas>

        подъем до 6.00  (7.30)
        7.00-8.30 <a href='#'>Завтрак</a><br/>
        11.00-13.00 <a href='#'>Обед</a><br/>
        15.00-18.00 <a href='#'>Ужин</a><br/>
        19.00- 21.00 <a href='#'>Молоко</a><br/>
    </div>
    <div class='large-3 columns'>

    </div>
    <div class='large-3 columns'>

    </div>
    <div class='large-3 columns'>

    </div>
</div>
</body>
<script type="text/javascript">
$(document).ready(function() {


    canvas = document.getElementById('canvas');
    ctx = canvas.getContext('2d');
    // var width = canvas.width;
    // var height = canvas.height;
    clockImage = new Image();
    clockImage.src = '{% static "images/cface.png" %}';
    setInterval(drawScene, 1000); // loop drawScene
})


</script>